node_modules/
venv/
dist/
__pycache__/
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/chatbot-ui.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
